a{
    text-decoration: none;
}

body{
    background: -webkit-linear-gradient(bottom, #ffffff);
    background-repeat: no-repeat;
}
label{
    font-family: 'Courier';
    font-size: 11pt;
}

#forgot-pass{
    color: black;
    font-family: courier;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
}
#card{
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba (0,0,0,0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
    border: 1px solid;
}
#card-content{
    padding: 12px 44px;
}
#card title{
    font-family: courier;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}
h2{
    text-align: center;
}
#signup{
    color: #16a085;
    font-family: courier;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
}
#submit-btn{
    background-color: #3f72af;
    border-radius: 21px;
    border: none;
    box-shadow: 0px 1px 8px #ffff;
    cursor: pointer;
    color: white;
    font-family: courier;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25%;
    width: 153px;
}
#submit-btn:hover{
    box-shadow: 0px 1px 8px #ffffff;
}
.form{
    align-items: 1px;
    display: flex;
    flex-direction: column;
}
.form-border{
    height: 1px;
    width: 100%;
    background: -webkit-linear-gradient(right,#3498db,#9b59b6);
}
.form-content{
    background: #fbfbfb;
    border: none ;
    outline: none;
    padding-top: 14px;
}
.underline-title{
    background: -webkit-linear-gradient(right,#3498db,#9b59b6);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}
.daftar{
    margin-top: 10000000px;
}

